:root {
  /* Colors */
  --clr-primary-100: hsl(0, 0%, 98%);
  --clr-primary-600: hsl(192, 37%, 48%);
  --clr-primary-900: hsl(240, 21%, 20%);
  --clr-accent-600: hsl(268, 34%, 53%);
  --clr-accent-400: hsl(240, 10%, 57%);
  --clr-download-hover: hsl(192, 90%, 77%);
  --clr-question-hover: hsl(268, 100%, 86%);

  /* Font family */
  --ff-base: "Red Hat Display", sans-serif;

  /* Font size */
  --fs-default: 1rem;
  --fs-h1: 2.5rem;
  --fs-h2: 2rem;

  /* Font weight */
  --fw-regular: 500;
  --fw-bold: 900;

  /* Content space */
  --content-spacing: 1rem;
  --content-padding: 2rem 1rem;
}

/* Use a more-intuitive box-sizing model */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Make images responsive */
img,
svg,
picture {
  max-width: 100%;
  display: block;
}

/* Avoid text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Reduce line-height for large text */
h1 {
  line-height: 1;
}

h2 {
  line-height: 1.125;
}

/* Inherit fonts */
button {
  font: inherit;
}

/* General/Generic */
body {
  background-color: var(--clr-primary-100);
  font-family: var(--ff-base);
  font-size: var(--ff-base);
  line-height: 1.6;
  text-align: center;
  font-weight: var(--fw-regular);
  color: var(--clr-accent-400);
  min-height: 100svh;
}

/* Typography */
.content-title {
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
}

.intro--title,
.hero--title {
  color: var(--clr-primary-900);
}

.intro--title {
  width: 10ch;
  margin: 1.5rem auto;
}

.hero-description {
  letter-spacing: 4px;
  text-transform: uppercase;
}

.footer-text {
  font-size: 1.125rem;
}

/* Layout */
/* .logo {
  margin: 2.5rem auto 1rem;
} */

/* .container {
  display: grid;
  place-items: center;
} */
