*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  color: white;
}

.bg-primary-dark-teal {
  background-color: #4d96a9;
}

.bg-primary-dark-purple {
  background-color: #855fb1;
}

.bg-primary-body {
  background-color: #fafafa;
}

.text-primary-headings {
  color: #28283d;
}

.text-primary-paragraphs {
  color: #87879d;
}

.button-hover-light-teal {
  background-color: #8fe3f9;
}

.button-hover-light-purple {
  background-color: #d9b8ff;
}

.content {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container {
  width: 23.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.logo-image {
  margin: 3rem 0rem;
}

header img:last-child {
  width: 26rem;
  object-fit: cover;
}

.main-heading {
  font-size: 2.9rem;
  margin: 1rem 0rem;
}

.btn {
  color: white;
  display: block;
  border: none;
  border-radius: 2rem;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  margin: 0rem auto;
}

.version {
  opacity: 0.6;
}

.download-btn {
  margin-top: 2rem;
  padding: 1rem 2rem;
}

.what-btn {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
}

main header {
  padding: 0rem 1.2rem;
  margin-bottom: 5rem;
}

.break-content-01{
    margin-bottom: 4rem;
}

.break-content-shape{
    border: 0.1rem solid #87879d;
    margin: auto;
    font-weight: 700;
    opacity: 0.3;
}

.slim-line{
    width: 0.1rem;
    height: 5rem;
}

.empty-circle{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.main-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  gap: 1rem;
  padding: 0rem 1.2rem;
  margin-bottom: 5rem;
}

.main-images img {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.main-content {
  padding: 0rem 1.2rem;
  margin-bottom: 5rem;
}

.main-content-title {
  font-size: 2.1rem;
}

.modern {
  color: #4d96a9;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

footer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./public/assets/mobile/image-footer.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 25rem;
  z-index: -1;
}

footer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #4d96a9;
  opacity: 0.9;
}

.footer-content {
  position: relative;
  padding: 1.2rem;
  z-index: 1;
}

.footer-title {
  font-size: 1.7rem;
}

.footer-description {
  width: 18rem;
  margin: auto;
}
