:root {
  /* Colors */
  --clr-primary-100: hsl(0, 0%, 98%);
  --clr-primary-600: hsl(192, 37%, 48%);
  --clr-primary-900: hsl(240, 21%, 20%);
  --clr-accent-600: hsl(268, 34%, 53%);
  --clr-accent-400: hsl(240, 10%, 57%);
  --clr-download-hover: hsl(192, 90%, 77%);
  --clr-question-hover: hsl(268, 100%, 86%);

  /* Font family */
  --ff-base: "Red Hat Display", sans-serif;

  /* Font size */
  --fs-default: 1rem;
  --fs-h1: 2.5rem;
  --fs-h2: 2rem;

  /* Font weight */
  --fw-regular: 500;
  --fw-bold: 900;
}

/* Use a more-intuitive box-sizing model */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Make images responsive */
img,
svg,
picture {
  max-width: 100%;
  display: block;
}

/* Avoid text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Reduce line-height for large text */
h1 {
  line-height: 1;
}

h2 {
  line-height: 1.125;
}

/* Inherit fonts */
button {
  font: inherit;
}

/* General/Generic */
body {
  background-color: var(--clr-primary-100);
  font-family: var(--ff-base);
  font-size: var(--ff-base);
  font-weight: var(--fw-regular);
  color: var(--clr-accent-400);
  min-height: 100svh;
}

@media (min-width: 90em) {
  .container {
    min-width: 90em;
  }

  .container > header {
    min-width: 90em;
  }

  main {
    width: 100%;
  }

  section > header {
    margin-top: 0;
  }

  .hero-image {
    display: none;
  }

  .hero-image-left,
  .hero-image-right {
    width: 25em;
    display: inline;
    object-fit: cover;
  }

  .hero-image-left {
    position: relative;
    left: -1.5em;
    float: left;
  }

  .hero-image-right {
    position: relative;
    right: -1em;
    float: right;
  }

  .header-content {
    padding: 0;
  }

  .main-heading {
    font-size: 4em;
    width: 7em;
    line-height: 1;
  }

  .main-description {
    font-size: 1.3em;
  }

  section > header > .download-btn:active {
    background-color: #8fe3f9;
  }

  .footer-content .download-btn:active {
    background-color: #d9b8ff;
  }

  .what-btn:active {
    background-color: #d9b8ff;
  }

  .main-images {
    width: 70em;
    margin: 0 auto;
    margin-bottom: 4em;
  }

  .main-content > p {
    width: 29em;
  }

  footer {
    height: 19em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("./public/assets/desktop/image-footer.jpg");
  }

  .footer-content {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
    text-align: start;
  }

  .footer-title {
    font-size: 2em;
    width: 12em;
    margin: 0;
  }

  .footer-description {
    width: 19em;
    margin: 0;
  }
}
